/* Untuk Tablet */
@media all and (max-width: 1000px) {
  .text-box {
    top: 5%;
  }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  .box-layanan {
    flex-wrap: wrap;
  }

  .box {
    width: 100%;
  }

  .text-box {
    top: 20%;
  }

  .title {
    width: 100%;
    padding: 125px 0;
  }
}
